:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.container-search {
  max-width: 560px;
  margin: auto;
  padding-top: 2rem;
}

.logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  height: 5rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.film:hover {
  filter: drop-shadow(0 0 2em #f1b13aaa);
}

.card {
  padding: 2em;
}

form {
  min-width: 350px;
  max-width: 80%;
}

form fieldset{
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  border: none;
}

label{
  font-size: 1.2rem;
  text-align: left;
  padding-left: .8rem;
}

input[type="text"] {
  height: 2.5rem;
  flex: 1 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a[title] {
  position: relative;
}

a[title]:hover:before {
  content: attr(title);
  display: inline-block;
  padding: .6em 1.2em; 
  white-space: nowrap; 
  background-color: #ffd323;
  color: #1a1a1a;;
  font-size: 0.7em;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -1em);
  z-index: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Style perso*/

.container-result {
  background-color: #131212;
  min-height: 100vh;
  padding-top: 2rem;
  border-top: solid 1px #414040;
}

.text-center {
  text-align: center;
}

p, ul, h3 {
  margin: inherit;
}

.movies-container {
  display: grid;
  justify-content: center;
  max-width: 560px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.movie{
  display: grid;
  padding: 2rem;
  background-color: #161515;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 1rem;
  grid-template-areas:
    "title title title rating"
    "img  list list list"
    "actors  actors actors actors"
    "plot plot plot plot"
    "trailer trailer website website";
}


.movie-title{
  grid-area: title;
}

.movie-rating{
  grid-area: rating;
}

.movie-img{
  width: 7rem;
  grid-area: img;
}

.movie-list{
  list-style: none;
  grid-area: list;
  >li span{
    font-weight: 200;
    margin-bottom: .5rem;
  }
}

.movie-actors{
  grid-area: actors;
}

.movie-plot{
  grid-area: plot;
}

.movie-plot, .movie-actors {
  background-color: #1a1a1a;
  padding: 1rem .5rem;
  border-radius: .3rem;
  
  >span{
    display: block;
    font-weight: 200;
    margin-bottom: .5rem;
  }
}

.movie-trailer{
  grid-area: trailer;
}

.movie-website{
  grid-area: website;
}